<div class="header">
	<div class="header__logo">running heroes</div>
	<div class="header__menu">menu</div>
</div>
<div class="container">
	<div class="container__banner">
		<div class="container__banner__left">rien ne vous arrête</div>
		<div class="container__banner__right">banner right</div>
	</div>
	<div class="container__data">
		<div class="container__data__title">title</div>
		<div class="container__data__charts">
			<div class="container__data__charts__chart">chart</div>
			<div class="container__data__charts__progression">progression</div>
		</div>
	</div>
</div>