<div class="header">
	<div class="header__logo">running heroes</div>
	<div class="header__menu">menu</div>
</div>
<div class="container">
	<div class="container__banner">
		<div class="container__banner__left">rien ne vous arrête</div>
		<div class="container__banner__right">
			<div>
				du 14 décembre 2015 au 15 septembre 2016
				gagnez
				100 caméras d'action
				150 dossards runningheroes
				et plein d'autres cadeaux
			</div>
			<div class="container__banner__right__form">
				<span>Rentrez votre email</span>
				<input type="text" name="email" placeholder="E-MAIL" class="container__banner__right__form--input"/>
				<input type="submit" value="Validez"/>
			</div>
			<div class="container__banner__right__links">
				<p><a href="#">Réglement</a> - <a href="#">Crédit</a> - <a href="#">Mentions légales</a> - <a href="#">Protection des données personnelles</a></p>
			</div>
		</div>
	</div>
	<div class="container__data">
		<div class="container__data__title">les data</div>
		<div class="container__data__charts">
			<div class="container__data__charts__chart">chart</div>
			<div class="container__data__charts__progression">progression</div>
		</div>
	</div>
</div>