//FONT FACES
@font-face {
	font-family: 'edosz';
	src: url(../fonts/edosz.ttf);
}
@font-face {
	font-family: 'Spinnaker-Regular';
	src: url(../fonts/Spinnaker-Regular.ttf);
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nszjtj');
  src:  url('../fonts/icomoon.eot?nszjtj#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?nszjtj') format('truetype'),
	url('../fonts/icomoon.woff?nszjtj') format('woff'),
	url('../fonts/icomoon.svg?nszjtj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}