//SASS VAIABLES
//BREAKPOINTS
$small-screen: 720px;

//COLORS
$color-light: #ffffff;
$color-grey: #f5f5f5;

//FONT FACES
@font-face {
    font-family: edosz;
    src: url(../fonts/edosz.ttf);
}
@font-face {
    font-family: Spinnaker-Regular;
    src: url(../fonts/Spinnaker-Regular.ttf);
}
//RESET CSS
body{
	margin:0;
	padding:0;
	font-family: edosz;
}


// MAIN PAGE CSS
.header{
	border: solid red 1px;
	position:fixed;
	width: 100%;
	top:0;
	&__logo{
		text-align: center;
		text-transform: uppercase;
		background: url(../image/bg-logo.png) no-repeat;
		background-size: contain;
		background-position: center;
		padding: 5px;
	}
	&__menu{
		font-family: Spinnaker-Regular;
		position: absolute;
		right:0;
		top:0;
	}
}
.container{
	border: solid blue 1px;
	&__banner{
		display: flex;
		@media screen and (max-width: $small-screen) {
			flex-direction: column;
		}
		border: solid green 1px;
		&__left{
			color: $color-light;
			height:200px;
			flex:2;
			text-transform: uppercase;
			text-align: center;
			background: url(../image/runner.jpg) no-repeat;
			background-size: cover;
			background-position: center;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__right{
			flex:2;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: relative;
			&__form{
				font-family: Spinnaker-Regular;
				&--input{
					border-radius: 50px;
					outline: none;
					border: solid 1px darken($color-grey, 5);
					padding: 10px;
					background: $color-grey;
				}
			}
			&__links{
				position: absolute;
				bottom: 0;
				font-family: Spinnaker-Regular;
			}
		}	
	}
	&__data{
		border: solid yellow 1px;
		&__title{
		}
		&__charts{
			display: flex;
			@media screen and (max-width: $small-screen) {
				flex-direction: column;
			}
			&__chart{
				flex:2;
			}
			&__progression{
				flex:2;
			}
		}
	}
}
