//SASS VAIABLES
//BREAKPOINTS
$small-screen: 720px;

//COLORS
$color-light: #ffffff;
$color-grey: #f5f5f5;
$color-green: #2e8126;
$color-brown: #625247;
$color-red: #be1f3b;

//FONT FACES
@font-face {
	font-family: 'edosz';
	src: url(../fonts/edosz.ttf);
}
@font-face {
	font-family: 'Spinnaker-Regular';
	src: url(../fonts/Spinnaker-Regular.ttf);
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nszjtj');
  src:  url('../fonts/icomoon.eot?nszjtj#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?nszjtj') format('truetype'),
	url('../fonts/icomoon.woff?nszjtj') format('woff'),
	url('../fonts/icomoon.svg?nszjtj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

//RESET CSS
body{
	font-family: 'edosz';
	font-size: 20px;
}
*, body, p{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: inherit;
}

// ICON
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e900";
}



// MAIN PAGE CSS
.header{
	position:absolute;
	width: 100%;
	top:0;
	z-index: 100;
	&__logo{
		text-align: center;
		text-transform: uppercase;
		background: url(../image/bg-logo.png) no-repeat;
		background-size: contain;
		background-position: center;
		padding: 20px;
		margin-top:30px;
		font-size:20px;
		color: $color-light;
	}
	&__menu{
		font-family: 'Spinnaker-Regular';
		position: absolute;
		right:0;
		top:0;
		padding: 10px;
		text-transform: uppercase;
		color: $color-green;
		text-align: center;
		line-height: 0;
		cursor: pointer;
		@media screen and (max-width: $small-screen) {
			color: $color-light;
		}
		&--icon{
			font-size:45px;
		}
		&--text{
			font-size: 11px;
			@media screen and (max-width: $small-screen) {
				display: none;
			}
		}
		&__overlay{
			left:0;
			position: fixed;
			width: 100%;
			height:100%;
			background: rgba(255, 255, 255, 0.9);
			z-index: 200;
			transition:all linear 0.5s;
			&.ng-hide {
				left:100%;
			}
			&--close-icon{
				position: absolute;
				right:0;
				top:0;
				padding: 10px;
				color: $color-green;
			}
		}
		&__items{
			list-style: none;
			margin:auto;
			display: block;
			text-align:center;
			color: $color-green;
			& li{
				display: block;
				margin: 20px 0;
				cursor:pointer;
				&.activ{
					color: $color-red;
				}
			}
		}
	}
}
.container{
	&__banner{
		display: flex;
		@media screen and (max-width: $small-screen) {
			flex-direction: column;
		}
		&__left{
			color: $color-light;
			min-height: 100vh;
			flex:2;
			text-transform: uppercase;
			text-align: center;
			background: url(../image/runner.jpg) no-repeat;
			background-size: cover;
			background-position: center right;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 80px;
			display:flex;
			position: relative;
			@media screen and (max-width: $small-screen) {
				min-height: 600px;
			}
			&__text{
				padding: 50px;
			}
			&--border{
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: 60px;
				background: url(../image/scratch.png) no-repeat;
				background-size: cover;
				@media screen and (max-width: $small-screen) {
					height: 200%;
					top: 100%;
					transform: rotate(90deg);
					transform-origin: 100% 0%;
				}
			}
		}
		&__right{
			flex:2;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: relative;
			text-align:center;
			color: $color-brown;
			@media screen and (max-width: $small-screen) {
				min-height: 400px;
			}
			&--small{
				font-size: 12px;
			}
			&--big{
				font-size: 60px;
				color: $color-red;
			}
			&__form{
				font-family: 'Spinnaker-Regular';
				&--title{
					font-size: 12px;
					margin: 20px 0;
				}
				&--input{
					border-radius: 50px;
					outline: none;
					border: solid 1px darken($color-grey, 5);
					padding: 10px;
					background: $color-grey;
					text-align: center;
				}
				&--button{
					display: block;
					margin: 20px 0;
					width: 100%;
					border: none;
					background: none;
					font-family: 'edosz';
					font-size:24px;
					color: $color-light;
					background: url(../image/bg-btn.png) no-repeat;
					background-size: contain;
					background-position: center;
					padding: 10px;
					cursor:pointer;
				}
			}
			&__links{
				position: absolute;
				bottom: 0;
				font-family: 'Spinnaker-Regular';
				font-size: 12px;
				color: darken($color-grey,25);
				margin-bottom: 10px;
				a {
					color: inherit;
				}
				
			}
			&__catchprase{
				position:absolute;
				background: url(../image/bg-catchPhrase.png) no-repeat;
				width: 167px;
				height:156px;
				top:6%;
				right:12%;
				color: $color-light;
				display: flex;
				justify-content: center;
				align-items: center;
				&--text{
					transform: rotate(14deg);
					width:70%;
				}
				@media screen and (max-width: $small-screen) {
					display: none;
				}
			}
		}	
	}
	&__data{
		background-color: $color-grey;
		padding:40px 0;
		&--title{
			color: $color-red;
			text-align:center;
			font-size: 60px;
			color: $color-red;
			margin-bottom:40px;
		}
		&__charts{
			display: flex;
			@media screen and (max-width: $small-screen) {
				flex-direction: column;
			}
			&__chart{
				flex:2;
				display: flex;
				justify-content: center;
				align-items: center;
				background: url(../image/bg-dataPercent.png) no-repeat;
				background-position: center;
				width:350px;
				min-height:350px;
				&--content{
					position: relative;
					padding:20px;
				}
				&--progression{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					border-radius: 100%;
					background: url(../image/bg-dataPercent.png) $color-grey no-repeat;
    				background-position: center;
    				width: 250px;
					height: 250px;
					z-index: 100;
					position:relative;
					
					&--border{
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						position: relative;
						text-align: center;
						width: 288px;
						height: 288px;
						border-radius: 100%;
						transition:all linear 1s;
						border: solid #cde5c8 0;
						&.ng-hide{
							border-radius: 100%;
							border: solid #cde5c8 20px;
						}
					}
				}
				&--percent{
					color: $color-green;
					font-size: 80px;
				}
				&--text{
					font-size:30px;

				}
				@media screen and (max-width: $small-screen) {
					margin: auto;
				}
			}
			&__progression{
				flex:2;
				display:flex;
				justify-content: center;
				align-items: center;
				&--content{
					height:130px;
					display:flex;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
				}
				&--title{
					flex:50%;
					text-align:center;
					font-size: 40px;
				}
				&--amount{
					flex:50%;
					text-align:center;
				}
				&--chart{
					flex:100%;
					background: url(../image/bg-dataGain.png) no-repeat;
					background-position: center;
					max-width:495px;
					min-width:495px;
					height:63px;
					color: $color-light;
					position: relative;
				}
				&--fill{
					height: 100%;
					width: 100%;
					background-color: $color-green;
					-webkit-mask-image: url('../image/bg-dataGain.png');
					transition:all linear 2s;
					&.ng-hide{
						width:0;
					}
				}
				&--value{
					position: absolute;
					top: 20px;
					left: 50px;
				}
				@media screen and (max-width: $small-screen) {
					margin: 30px auto;
				}
			}
		}
	}
}

// PERCENTS
@function my-calc($var){
	@return ((($var - 50 ) * 3.6) - 180deg)
	//@return ((($var - 50 ) * 3.6) - 180deg)
}
@function my-percent($var){
	@return ($var *1%)
}
@for $i from 1 through 100 {
    .piechart-#{$i} {
    	@if ($i < 50) {
    		background-image:
    			linear-gradient(-90deg, transparent 50%, #cde5c8 50%),
				linear-gradient(my-calc($i), #35810a 50%, transparent 50%);
    	}
    	@else {
			background-image: 
				linear-gradient(90deg, transparent 50%, #35810a 50%),
				linear-gradient(my-calc($i), #35810a 50%, transparent 50%);
    	}
    }
    @if ($i < 50) {
    	.piechart-a-#{$i} {
    		position:absolute;
    		background:#cde5c8;
    		width: 144px !important; 
			height: 288px;
			box-sizing: border-box;
			border-top-right-radius: 0;
			border-top-left-radius: 144px;
			border-bottom-left-radius: 144px;
			border-bottom-right-radius: 0;
			z-index: 50;
			left:0;
			top:0;
    	}
    	.piechart-b-#{$i} {
    		position:absolute;
    		transform: rotate(my-calc($i));
    		transform-origin: 100% 50%;
    		background:green;
    		width: 144px !important; 
			height: 288px;
			box-sizing: border-box;
			border-top-right-radius: 0;
			border-top-left-radius: 144px;
			border-bottom-left-radius: 144px;
			border-bottom-right-radius: 0;
			z-index: 49;
			top:0;
			right:144px;
    	}
    }
    @else {
    	.piechart-a-#{$i} {
    		position:absolute;
    		background:green;
    		width: 144px !important; 
			height: 288px;
			box-sizing: border-box;
			border-top-left-radius: 0;
			border-top-right-radius: 144px;
			border-bottom-right-radius: 144px;
			border-bottom-left-radius: 0;
			z-index: 50;
			right:0;
			top:0;
    	}
    	.piechart-b-#{$i} {
    		position:absolute;
    		transform: rotate(my-calc($i));
    		transform-origin: 100% 50%;
    		background:green;
    		width: 144px !important; 
			height: 288px;
			box-sizing: border-box;
			border-top-right-radius: 0;
			border-top-left-radius: 144px;
			border-bottom-left-radius: 144px;
			border-bottom-right-radius: 0;
			z-index: 49;
			top:0;
			right:144px;
    	}

    }


    .barchart-#{$i} {
    	width: my-percent($i);
    }
}